.news-container {
  padding: 2rem;
}

.news-container h1 {
  font-size: 2rem;
  color: #1d3557;
  margin-bottom: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.news-intro{
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: #555;
  font-size: 1rem;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Siempre dos columnas */
  gap: 1.5rem;
}

.news-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.news-card:hover {
  transform: scale(1.02);
}

.news-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
}

.news-content h3 {
  margin: 0;
  color: #222;
  font-size: 1.2rem;
}

.news-content p {
  font-size: 0.95rem;
  margin: 0.5rem 0;
  color: #555;
}

.news-date {
  font-size: 0.8rem;
  color: #888;
}

.news-card {
  text-decoration: none;
  color: inherit;
}

/* Estilos de NoticiaDetalle */

.news-detail-container {
  max-width: 900px;      /* Limita el ancho */
  margin: 2rem auto;     /* Centra horizontalmente */
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.news-detail-container h2 {
  font-size: 1.8rem;
  color: #1d3557;
  margin-bottom: 1rem;
  text-align: center;
}

.news-detail-img {
  width: 100%;
  border-radius: 12px;
  margin: 1rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.news-detail-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.news-detail-container h4 {
  margin-top: 2rem;
  color: #1d3557;
}

.news-detail-container ul {
  list-style: disc inside;
  color: #444;
  margin-top: 0.5rem;
}

.back-link {
  display: inline-block;
  margin-bottom: 1rem;
  color: #3080c3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

.back-link:hover {
  color: #1d3557;
  text-decoration: underline;
}
